
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f6fa;
    color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
}
  .welcome-container {
            width: 600px;
            margin: 20px auto;
            text-align: center;
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
        }
        .welcome-container h1 {
            margin-bottom: 10px;
        }

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 20px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-box button {
    width: 100%;
    padding: 20px;
    background: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.auth-box button:hover {
    background: #2980b9;
}

.auth-box a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
}

.form-box {
    background: #fff;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-box h3 {
    margin-bottom: 15px;
    text-align: center;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 20px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
   
}

.form-box button {
    width: 100%;
    padding: 20px;
    background: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-box button:hover {
    background: #1e8449;
}
label{
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}
.category-btn {
    display: inline-block;
    padding: 5px;
    background: #ceb5ea61;
    color: #1e282c;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 2px;
    font-size: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 20px;
}

.profile-box {
    max-width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-box h2 {
    margin-bottom: 10px;
}


.btn-link {
    display: inline-block;
    padding: 8px 15px;
    background: #2980b9;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-link:hover {
    background: #1f618d;
}


.auth-container {
     width: 450px;
    background: #fff;
    padding: 30px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     }
     
.auth-box {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    background: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.auth-container button {
    width: 100%;
    padding: 20px;
    background: #054d5a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth-container button:hover {
    background:  #06323a;
}

.auth-container a {
    color: #4d9ef6;
    text-decoration: none;
}

.error {
    color: red;
    text-align: center;
}

.navbar {
    background:  #34e1ffb9;
    color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight:200;
    font-size: medium;
}


.dashboard {
    padding: 30px;
    width: 90%;
}
.dashboard-add-expense {
    padding: 20px;
    width: 50%;
    margin:10px auto;
    border-radius: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    
}

.card {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    background: #ace9eca4;
    padding: 30px;
    width: 300px;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(247, 213, 213, 0.1);
}
.card:hover {
    background: #9af3f8c1;
}
.card h4 {
    margin-bottom: 10px;
}

.form input,
.form select,
.form button {
    width: 100%;
    padding: 15px;
    margin-bottom: 12px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.expense-table th,
.expense-table td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
}

.expense-table th {
    background: #0c515e;
    color: white;
}

.expense-table tr:nth-child(even) {
    background: #f9f9f9;
}

.btn {
    display: inline-block;
    padding: 15px 15px;
    background: #075d6c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size:20px;
    margin-right: 10px;
}
.btn:hover {
    background: #02333a;
}
.profile-card {
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.profile-card p {
    margin: 10px 0;
}
.nav-buttons {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size:23px;
}


.nav-btn {
    text-decoration: none !important;
    padding: 25px 30px !important;
    background-color: #285a64 !important;
    color: white !important;
    border-radius: 6px !important;
    font-weight: 500 !important;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #12343b !important;
} 


@media (max-width: 768px) {

    body {
        font-size: 18px;
        line-height: 1.6;
    }

    .container,
    .dashboard {
        width: 100%;
        padding: 15px;
    }

   
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        gap: 10px;
    }

    .navbar h3 {
        font-size: 22px;
    }

    .navbar a {
        font-size: 18px;
        padding: 8px;
    }

   
    .auth-container,
    .auth-box,
    .form-box,
    .profile-box,
    .profile-card,
    .dashboard-add-expense {
        width: 95%;
        margin: 20px auto;
        padding: 20px;
    }

    h2, h3 {
        font-size: 22px;
        text-align: center;
    }

    label {
        font-size: 16px;
    }

    input,
    select,
    textarea {
        font-size: 18px;
        padding: 14px;
        border-radius: 6px;
    }

    button {
        font-size: 18px;
        padding: 14px;
        border-radius: 6px;
    }

    .cards {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100%;
        font-size: 20px;
        padding: 20px;
    }

    .btn,
    .btn-link,
    .nav-btn {
        width: 100%;
        font-size: 18px;
        padding: 14px;
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-buttons {
        flex-direction: column;
        gap: 12px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        font-size: 16px;
    }

    .expense-table th,
    .expense-table td {
        padding: 12px;
    }

    .welcome-container {
        width: 95%;
        padding: 20px;
    }

    .welcome-container h1 {
        font-size: 24px;
    }
}
